body {
    
    
    background-color: #2989D8;
    background: -moz-linear-gradient(top, #067fe8 0%, #d6f3fc 100%);
    background: -webkit-linear-gradient(top, #067fe8 0%,#d6f3fc 100%);
    background: linear-gradient(to bottom, #067fe8 0%,#d6f3fc 100%);
    background-repeat: no-repeat;
    height:100%;
    
}

header {
    
    background: #b5c6d0;
    background: -moz-linear-gradient(top, #b5c6d0 0%, #d8e1e7 19%, #f2f6f8 78%, #e0eff9 100%);
    background: -webkit-linear-gradient(top, #b5c6d0 0%,#d8e1e7 19%,#f2f6f8 78%,#e0eff9 100%);
    background: linear-gradient(to bottom, #b5c6d0 0%,#d8e1e7 19%,#f2f6f8 78%,#e0eff9 100%);
    height: 110px;
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;
    
   
    
    
}
    


h1 {
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px 2px grey;
    margin-top:0px;
    padding-top: 20px;
    
    
    
    
}

h2 {
    
    font-size: 60px;
    text-align: center;
    color: black;
    margin-top: 60px;
    text-shadow: 2px 2px 2px lightgreen;
}

h3 {
    
    font-size: 60px;
    color: black;
    text-align: center;
    margin-top: 60px;
    text-shadow: 2px 2px 2px red;
}




.b1 {  

    background-color:background: #bebfbd;
    background: -moz-linear-gradient(top, #bebfbd 0%, #f9f9f9 100%); 
    background: -webkit-linear-gradient(top, #bebfbd 0%,#f9f9f9 100%);
    background: linear-gradient(to bottom, #bebfbd 0%,#f9f9f9 100%);
    height: 60px;
    width: 120px;
    font-size: 30px;
    margin-left: 45%;
    margin-top: 40px;
    margin-right: 45%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #000000;
   
   
    
}
.b2 {  

    background-color:background: #bebfbd;
    background: -moz-linear-gradient(top, #bebfbd 0%, #f9f9f9 100%); 
    background: -webkit-linear-gradient(top, #bebfbd 0%,#f9f9f9 100%);
    background: linear-gradient(to bottom, #bebfbd 0%,#f9f9f9 100%);
    height: 60px;
    width: 120px;
    font-size: 30px;
    align-self: center;
    display: inline-block;
   margin-left: 15%;
    margin-top: 20px;
    margin-right: 5%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #000000;
    
}

.b3 {  

    background-color:background: #bebfbd;
    background: -moz-linear-gradient(top, #bebfbd 0%, #f9f9f9 100%); 
    background: -webkit-linear-gradient(top, #bebfbd 0%,#f9f9f9 100%);
    background: linear-gradient(to bottom, #bebfbd 0%,#f9f9f9 100%);
    height: 60px;
    width: 120px;
    font-size: 30px;
    align-self: center;
    display: inline-block;
    margin-left: 15%;
    margin-top: 20px;
    margin-right: 5%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #000000;
    
}

.b4 {  

    background-color:background: #bebfbd;
    background: -moz-linear-gradient(top, #bebfbd 0%, #f9f9f9 100%); 
    background: -webkit-linear-gradient(top, #bebfbd 0%,#f9f9f9 100%);
    background: linear-gradient(to bottom, #bebfbd 0%,#f9f9f9 100%);
    height: 60px;
    width: 120px;
    font-size: 30px;
    align-self: center;
    display: inline-block;
    margin-left: 15%;
    margin-top: 20px;
    margin-right: 5%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #000000;
}

.b5 {  

    background-color:background: #bebfbd;
    background: -moz-linear-gradient(top, #bebfbd 0%, #f9f9f9 100%); 
    background: -webkit-linear-gradient(top, #bebfbd 0%,#f9f9f9 100%);
    background: linear-gradient(to bottom, #bebfbd 0%,#f9f9f9 100%);
    height: 60px;
    width: 120px;
    font-size: 30px;
    margin-left: 45%;
    margin-top: 40px;
    margin-right: 45%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #000000;
    
}

p {
    
   
    margin-left: 15%;
    margin-top: 20px;
    margin-right: 5%;
    display:inline-block;
    align-items: center;
    font-size: 40px;
    text-decoration: none;
  

}

a {
    
    text-decoration: none;
}


.b1:hover {
    background-color: lightgray;
    background: lightgray;
    color: white;
    height: 60px;
    width: 120px;
    font-size: 30px;
    border-radius: 10px;
      box-shadow: 0px 0px 0px #000000;
    
}

.b2:hover {
    background-color: lightgray;
    background: lightgray;
    color: white;
    height: 60px;
    width: 120px;
    font-size: 30px;
    border-radius: 10px;
      box-shadow: 0px 0px 0px #000000;
    
}

.b3:hover {
    background-color: lightgray;
    background: lightgray;
    color: white;
    height: 60px;
    width: 120px;
    font-size: 30px;
    border-radius: 10px;
      box-shadow: 0px 0px 0px #000000;
    
}

.b4:hover {
    background-color: lightgray;
    background: lightgray;
    color: white;
    height: 60px;
    width: 120px;
    font-size: 30px;
    border-radius: 10px;
      box-shadow: 0px 0px 0px #000000;
    
}

.b5:hover {
    background-color: lightgray;
    background: lightgray;
    color: white;
    height: 60px;
    width: 120px;
    font-size: 30px;
    border-radius: 10px;
      box-shadow: 0px 0px 0px #000000;
    
}

.b1:active {
    background-color: grey;
    background: grey;
    color: white;
    height: 60px;
    width: 120px;
    font-size: 30px;
    border-radius: 10px;
      box-shadow: 0px 0px 0px #000000;
  
    
}

.b2:active {
    background-color: grey;
    background: grey;
    color: white;
    height: 60px;
    width: 120px;
    font-size: 30px;
    border-radius: 10px;
      box-shadow: 0px 0px 0px #000000;
  
    
}

.b3:active {
    background-color: grey;
    background: grey;
    color: white;
    height: 60px;
    width: 120px;
    font-size: 30px;
    border-radius: 10px;
      box-shadow: 0px 0px 0px #000000;
  
    
}

.b4:active {
    background-color: grey;
    background: grey;
    color: white;
    height: 60px;
    width: 120px;
    font-size: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px #000000;
  
    
}

.b5:active {
    background-color: grey;
    background: grey;
    color: white;
    height: 60px;
    width: 120px;
    font-size: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px #000000;
  
    
}


